<div class="container">
  <h1>@ViewBag.Category.Name</h1>
  <div class="col">
    <h2>Products</h2>
    <ul>
      @foreach (Association association in ViewBag.Category.Associations)
      {
        <li>
          @association.Product.Name
        </li>
      }
    </ul>
  </div>

  <div class="col">
    <h3>Add Product</h3>
    @model submitProduct
    <form asp-controller="home" asp-action="AddAssociation" method="POST">
      <select asp-for="ProductID">
        @foreach (Product product in ViewBag.Products)
        {
          <option value="@product.ProductID">@product.Name</option>
        }
      </select>
      <input type="hidden" asp-for="CategoryID" value="@ViewBag.Category.CategoryID">
    </form>

  </div>
</div>
