<h1>@ViewBag.Category.Name</h1>
<div class="row">
  <div class="col">
    <h2>Products</h2>
    <ul>
      @foreach (Association association in ViewBag.Category.Associations)
      {
        <li>
          <a href="/product/@association.Product.ProductID">@association.Product.Name</a>
        </li>
      }
    </ul>
  </div>

  <div class="col">
    <h3>Add Product</h3>
    @model Product
    <form asp-controller="home" asp-action="AddAssociation" method="POST">
      <div class="form-group">
        <label asp-for="ProductID"></label>
        <select asp-for="ProductID">
          @foreach (Product product in ViewBag.Products)
          {
            <option value="@product.ProductID">@product.Name</option>
          }
        </select>
      </div>
      <input type="hidden" asp-for="CategoryID" value="@ViewBag.Category.CategoryID">
      <button type="Submit">Add</button>
    </form>

  </div>
</div>
<a href="/categories">Back</a>